/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/laradock
/public/js
/public/css
/build
/tests/Mock/*
!/tests/Mock/.gitignore
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.phpunit.result.*
phpunit.xml
